body {
  line-height: 0.8;
  background-color: #cee7f0;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cee7f0;
  color: #fff;
}

h1 {
  font-size: 50px;
  color: #364271;
  padding-left: 60px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 600px;
  font-size: 30px;
  list-style: none;
  padding-right: 20px;
  text-decoration: underline;
}

nav a {
  color: #364271;
  font-weight: bold;
  text-decoration: none;
  text-underline-offset: auto;
  font-size: 25px;
}

nav a:hover {
  color: #70a5c9;
}

div {
  background: url(/Assets/images/stars.jpeg);
  background-size: cover;
  display: flex;
  font-size: 25px;
  padding: 103px;
  color: #364271;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.subtitle {
  position: absolute;
  bottom: 480px;
  right: 0px;
  padding-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin-left: 25px;
  font-style: italic;
  font-size: 25px;
  box-shadow: inset 10px 10px 40px #70a5c9;
  color: #364271;
  text-align: center;
  position: relative;
  margin: auto;
}


.aside-2 {
  font-size: 25px;
  float: right;
  letter-spacing: 3px;
  font-family: 'Courier New', Courier, monospace;
  text-indent: 55px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 40px;
}

.work {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none #364271;
  list-style: none;
  font-size: 30px;
  padding: 20px;
  font-family: fantasy;
  padding-right: 100px;
}

.work a:visited {
text-decoration: none;
color: #364271;
}

.work a:hover {
  color: #70a5c9;
}

#aside-3 {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none #364271;
  list-style: none;
  font-size: 30px;
  padding: 20px;
}

#aside-3 a:visited {
  text-decoration: none;
  color: #364271;
}

#aside-3 a:hover {
  color: #70a5c9;
}

footer {
  text-align: center;
  clear: both;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ffffff6d;
  font-size: 20px;
}